name: Draft release

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
    outputs:
      crate-version:
        description: "Version of the release (without leading v)"
        value: ${{ jobs.initial_release.outputs.crate-version }}
      commitish:
        description: "SHA of commit on which this release is based"
        value: ${{ jobs.initial_release.outputs.commitish }}

jobs:

  initial_release:
    name: Create base release ${{ github.event.inputs.version }}
    runs-on: ubuntu-latest
    outputs:
      crate-version: ${{steps.get-crate-version.outputs.crate-version}}
      commit: ${{steps.make-commit.outputs.commit}}
    steps:    
      -
        name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true
      -
        name: Get crate version
        id: get-crate-version
        run: echo ::set-output name=crate-version::``$(echo ${{ github.event.inputs.version }} | cut -dv -f2)``
        shell: bash    
      -
        name: Bump crate version
        uses: thomaseizinger/set-crate-version@master
        with:
          version: ${{steps.get-crate-version.outputs.crate-version}}   
      -
        name: Create release branch
        run: git checkout -b release/${{steps.get-crate-version.outputs.crate-version}}
      - 
        name: Update changelog
        uses: thomaseizinger/keep-a-changelog-new-release@1.1.0
        with:
          version: ${{steps.get-crate-version.outputs.crate-version}}
      - 
        name: Initialize mandatory git config
        run: |
          git config user.name "GitHub actions"
          git config user.email noreply@github.com 
      - 
        name: Commit changelog and manifest files
        id: make-commit
        run: |
          git add CHANGELOG.md Cargo.toml
          git commit --message "Prepare release ${{steps.get-crate-version.outputs.crate-version}}"
          echo "::set-output name=commit::$(git rev-parse HEAD)"
        shell: bash
      - 
        name: Push new branch
        run: git push origin release/${{steps.get-crate-version.outputs.crate-version}} 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
      -
        name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          body_path: CHANGELOG.md
          draft: true
          name: Release ${{ github.event.inputs.version }}
          tag_name: ${{ github.event.inputs.version }}
          target_commitish: ${{steps.make-commit.outputs.commit}}


