name: Draft release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true

jobs:

  checkout_code:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: true

  initial_release:
    needs: checkout_code
    uses: ./.github/workflows/draft_release.yml
    with:
      version: ${{ github.event.inputs.version }}

  build_assets_and_add_to_release:
    needs: initial_release
    uses: ./.github/workflows/build_assets_and_add_to_release.yml
    with:
      version: ${{ needs.initial-release.outputs.crate-version }}
      commitish: ${{ needs.initial-release.outputs.commit }}
      app-name: "timvw-hello-rs"

